@font-face {
    font-family: '[nome_font]';
    src: url('fonts/[nome_arquivo_font].eot');
    src: url('fonts/[nome_arquivo_font].eot?#iefix') format('embedded-opentype'),
         url('fonts/[nome_arquivo_font].woff') format('woff'),
         url('fonts/[nome_arquivo_font].ttf') format('truetype'),
         url('fonts/[nome_arquivo_font].svg#[nome_font') format('svg');
    font-weight: normal;
    font-style: normal;
}